#h{
    
    height: 300px;
    margin: auto;
    display: block;
    text-align: center;   
}

div{
   margin: auto;
   display: block;
   height: 300px;
   text-align: center;
}

main{
    margin: auto;
    background-color: black;
    max-width: 1000px;
    min-width: 400px;
}

body{
    background-color: blue;
    
}